<div class="header">
  <div class="logo">
    <p class="logo-header">Hotel-IT</p>
    <p class="logo-footer">portal</p>
  </div>

  <mat-tab-group>
    <mat-tab class="login" label="Вход"></mat-tab>
  </mat-tab-group>



</div>
<div class="main">

  <div class="left-column">
    <p class="right-column-content" style="font-weight: bold">
      Добро пожаловать на portal.hotel.it!
    </p>

    <p class="left-column-content">
      Если вы подали заявку на регистрацию, ожидайте пока ваши данные будут проверены, и ваша учетная запись будет создана. Уведомление об этом вы получите по почте.
    </p>
    <p class="left-column-content">
      Чтобы войти, введите ваш адрес электронной почты и пароль, который вы получили в письме:
      Если вы забыли пароль, нажмите на кнопку ‘Забыли пароль’.
    </p>
  </div>

  <div class="right-column">
      <p class="right-column-content">
        <strong>Hotel-IT</strong> - центр исследований, мониторинга, анализа и учета основной деятельности нашей  сети отелей.
      </p>
      <p class="right-column-content">
        Ключевое направление деятельности портала - автоматизированное, централизованое проведение процессов основной деятельности нашего бизнеса  для улучшения качества и облегчения работы наших сотрудников.
      </p>
  </div>
</div>

<div class="login-password">

  <mat-form-field appearance="standard">
    <mat-label>Логин</mat-label>

  </mat-form-field>

  <mat-form-field appearance="standard">
    <mat-label>Пароль</mat-label>

  </mat-form-field>


</div>
