.mat-dialog-content{
  display: grid;

}

.cdk-overlay-pane{
  font-family: Laksaman;
}

mat-form-field{
  margin: 10px;
  font-family: Laksaman;
}

#phone-number-start{
  display:inline-block !important;
  float: left !important;
}

.dialog-content{
  width: 500px;
}
.flex{
  display: flex;
  flex-flow: row wrap;
}
.flex *:last-child{
  order: 999;
  margin-left: auto;
}

.close{
  cursor: pointer;
}
