<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div id="app">
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <img href="#" src="favicon.ico" style="height: 70px; width: 70px;margin-right: 30px" >
      <a href="#" class="navbar-brand">Hotel-IT<br><div style="font-size: 24px">portal</div></a>

      <ul class="navbar-nav ml-auto option-panel" *ngIf="isLoggedIn">
        <li class="nav-item">
          <a [routerLink]="'/working-time'" class="nav-link" >Рабочее время</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [matMenuTriggerFor]="servicesMenu" >Услуги &darr;</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [matMenuTriggerFor]="profileMenu" >{{username}} &darr;</a>
        </li>
        <mat-menu #profileMenu="matMenu"  xPosition="before">
          <button [routerLink]="'/profile'" mat-menu-item>
            <mat-icon>assignment_ind</mat-icon>
            <span>Мой профиль</span>
          </button>
          <button (click)="isLoggedIn=false;showEmployeesList=false" mat-menu-item>
            <mat-icon>exit_to_app</mat-icon>
            <span>Выход</span>
          </button>
        </mat-menu>
        <mat-menu #servicesMenu="matMenu" xPosition="before">
          <button [routerLink]="'/employees'" mat-menu-item>
            <span>Учет сотрудников</span>
          </button>
          <button [routerLink]="'/clients'" mat-menu-item>
            <span>Работа с клиентами</span>
          </button>
          <button [routerLink]="'/rooms'" mat-menu-item>
            <span>Бронирование номеров</span>
          </button>
        </mat-menu>
      </ul>
    </nav>

    <div class="container content">
      <app-login *ngIf="!isLoggedIn" (login)="setProfileInfo($event)"></app-login>
      <router-outlet *ngIf="isLoggedIn"></router-outlet>
    </div>

  </div>



