/*.table-menu-bar{*/
/*  border: 1px lightgray solid;*/
/*  box-shadow: inset 0 0 2px rgba(0,0,0,0.5);*/
/*  border-radius: 5px;*/
/*  background-color: #f5f5f5;*/
/*  margin-top: 50px;*/
/*  margin-left: auto;*/
/*  margin-right: auto;*/
/*  width: 95%;*/
/*  padding: 10px;*/
/*}*/

/*.button{*/
/*  border: 1px lightgray solid !important;*/
/*  box-shadow: 0 0 2px rgba(0,0,0,0.5) !important;*/
/*  border-radius: 2px !important;*/
/*}*/

.navbar-brand{
  font-size: 36px;
  font-weight: normal;
}

.navbar{
  box-shadow: 0px 4px 4px 6px rgba(0, 0, 0, 0.20);
}

.nav-link{
  font-weight: lighter;
  font-size: 36px;
}

.left-column{
  font-size: 24px;
  display: inline-block;
  width: 50%;
  height: 100%;
}

.right-column{
  display: inline-block;
  font-size: 24px;
  width: 50%;
  height: 100%;
}

.right-column-content{
  padding-left: 10%;
  padding-right: 10%;
  width: 100%;
  height: 100%;
}

.left-column-content{
  padding-left: 30%;
  width: 100%;
  height: 100%;
}

.homepage-text{
  margin-top: 5%;
}

.container{
  margin-top: 10%;
  width: 30%;

}
