.container{
  font-family: Montserrat, sans-serif;
}

h5,h6{
  font-weight: bold;
  margin-bottom: 2em;
}

.mat-form-field{
  width: 80%;
}

.extra-info>p{
  margin: 25px auto;
}
.photo{
  text-align: center;
}
 .upload{
   border: 1px solid rgba(0, 0, 0, 0.27);
   margin: 20px auto;
 }

 .submit{
   font-family: Montserrat, sans-serif;
   font-style: normal;
   font-weight: 600;
   font-size: 18px;
   line-height: 22px;
   color: black;
   height: 50px;
   border-color: #AFBDEF;
   border-radius: 5px !important;
   background-color: #afb2ee;
   box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),0px 2px 2px 0px rgba(0, 0, 0, 0.14),0px 1px 5px 0px rgba(0, 0, 0, 0.12);
   margin: 30px auto;
   padding: 5px 60px
 }

 a{
   color: #3000a0;
   text-decoration: none;
   cursor: pointer;
 }
