<div class="container" *ngIf="currentUser;">
  <div class="row">
    <div class="col-sm-3 photo">
       <img src="assets/testimony_3.png" width="250" height="250">
      <button class="upload"  mat-button>
        Загрузить фото
        <img src="assets/upload.png">
      </button>
      </div>
    <div class="col-sm-3">
      <h5>ФИО</h5>
        <mat-form-field  appearance="outline" floatLabel="always">
          <mat-label>Имя</mat-label>
          <input [value]="'Никита'" matInput>
        </mat-form-field>
      <mat-form-field  appearance="outline" floatLabel="always">
        <mat-label>Фамилия</mat-label>
        <input [value]="'Терехов'" matInput>
      </mat-form-field>
      <mat-form-field  appearance="outline" floatLabel="always">
        <mat-label>Отчество</mat-label>
        <input [value]="'Геннадьевич'"  matInput>
      </mat-form-field>
    </div>
    <div class="col-sm-3">
      <h5>Контакты</h5>
      <mat-form-field  appearance="outline" floatLabel="always">
        <mat-label>Email</mat-label>
        <input [value]="'nikita@mail.ru'" matInput>
      </mat-form-field>
      <mat-form-field  appearance="outline" floatLabel="always">
        <mat-label>Telegram</mat-label>
        <input [value]="'@nikita'" matInput>
      </mat-form-field>
      <mat-form-field  appearance="outline" floatLabel="always">
        <mat-label>Телефон</mat-label>
        <input  [value]="'89997777777'" matInput>
      </mat-form-field>
    </div>
    <div class="col-sm-3 extra-info">
<h6>Дополнительная информация</h6>
      <p>День рождения <strong>1 января</strong></p>
      <p>Дата начала работы <strong>20.10.2021</strong></p>
      <p>Руководитель <strong><a>Соколов Илья</a></strong></p>
      <p>Отдел <strong><a>Отдел разработки</a></strong></p>
      <p>Команда <strong><a>Группа фронтенд</a></strong></p>
    </div>
  </div>
  <div class="row">
    <button mat-button class="submit">Сохранить</button>
  </div>
</div>
