/*.site-header{*/
/*  height: 35px;*/
/*  border-bottom: 1px solid lightgray;*/
/*  -webkit-box-shadow: inset 0px 5px 5px -5px rgba(34, 60, 80, 0.6);*/
/*  -moz-box-shadow: inset 0px 5px 5px -5px rgba(34, 60, 80, 0.6);*/
/*  box-shadow: inset 0px 5px 5px -5px rgba(34, 60, 80, 0.6);*/
/*  background-color: #eaeaea;*/

/*}*/

/*.menu-header-element{*/
/*  text-decoration: none;*/
/*  color: #333333;*/
/*  padding-top: 5px;*/
/*  font-family:Laksaman;*/
/*  font-size:20px;*/
/*  border-left: 1px solid lightgray;*/
/*  float: left;*/
/*  width: 10%;*/
/*  height: 91%;*/
/*  text-align:center;*/
/*}*/

/*#header-menu-selector{*/
/*  border-right: 1px solid lightgray;*/
/*}*/

/*#logotype{*/
/*  font-size: 30px;*/
/*  font-family:Laksaman;*/
/*  font-weight: bold;*/
/*}*/

/*#logout-menu-button{*/
/*  float:right;*/
/*}*/


/*.paginator{*/
/*  background-color: #eaeaea;*/
/*}*/

/*.author-info{*/
/*  color: #000000;*/
/*  text-decoration:none;*/
/*  font-family:Laksaman;*/
/*}*/


/*.login-text{*/
/*  font-family: Laksaman;*/
/*}*/

/*.password-text{*/
/*  font-family: Laksaman;*/
/*}*/

/*.button-login{*/
/*  size: 20px;*/
/*}*/

/*.link-forgot-pass{*/
/*  float:right;*/
/*}*/

/*.my-app{}*/

/*.table-inner{*/
/*  border: 1px lightgray solid;*/
/*  box-shadow: inset 0 0 2px rgba(0,0,0,0.5);*/
/*  border-radius: 5px;*/
/*  background-color: #f5f5f5;*/
/*  margin: 21px;*/
/*  padding: 10px;*/
/*}*/

/*.button{*/
/*  border: 1px lightgray solid !important;*/
/*  box-shadow: 0 0 2px rgba(0,0,0,0.5) !important;*/
/*  border-radius: 2px !important;*/
/*}*/

/*.table-menu-bar{*/
/*  margin: 10px;*/
/*}*/
.container{
  width: 90%
}

.nav-link{
  cursor: pointer;
}

.mat-menu-panel, .mat-menu-panel button{
  background-color: #b0beef;
}

.mat-card{
  margin: 2% 5%;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.15) !important;
}
.panel .mat-button {
  /*padding: 5px 50px;*/
  /*padding-left: 5px;*/
  margin-right: 15px;
  /*margin: 0 5px!important;*/
  min-width: 100px;
  background-color: #AFBDEF;
  border-color: #AFBDEF;
}

.fc .fc-button-primary {
  color: #3c3a3a!important;
  background-color: #afbdef!important;
  border-color: #afbdef!important;
}

.nice-button{
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: black;
  height: 50px;
  background-color: #AFBDEF;
  border-color: #AFBDEF;
  border-radius: 5px;
  margin: 0 !important;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),0px 2px 2px 0px rgba(0, 0, 0, 0.14),0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}
