<div><table mat-table *ngIf="myDataArray" matSort [dataSource]="myDataArray"  class="user-table" [matSortDisableClear]="true" (matSortChange)="sortData($event)">

  <ng-container matColumnDef="select">
    <th class="select-column-header table-header" mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()">
      </mat-checkbox>
    </th>
    <td class="select" mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </td>
  </ng-container>



  <ng-container matColumnDef="name">
    <th class="name-column table-header" mat-sort-header mat-header-cell *matHeaderCellDef> Имя </th>
    <td mat-cell class="table-entity" *matCellDef="let user"> {{user.name}} </td>
  </ng-container>

  <ng-container matColumnDef="lastName">
    <th class="lastName-column table-header" mat-sort-header mat-header-cell *matHeaderCellDef> Фамилия </th>
    <td mat-cell class="table-entity" *matCellDef="let user"> {{user.lastName}} </td>
  </ng-container>

  <ng-container matColumnDef="middleName">
    <th class="middleName-column table-header" mat-sort-header mat-header-cell *matHeaderCellDef> Отчество </th>
    <td mat-cell class="table-entity" *matCellDef="let user"> {{user.middleName}} </td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th class="date-column table-header" mat-sort-header mat-header-cell *matHeaderCellDef> Дата рождения </th>
    <td mat-cell class="table-entity" *matCellDef="let user"> {{(user.date | date: 'dd.MM.yyyy') || 'N/A'}} </td>
  </ng-container>

  <ng-container matColumnDef="role">
    <th class="role-column table-header" mat-sort-header mat-header-cell *matHeaderCellDef> Должность </th>
    <td mat-cell class="table-entity" *matCellDef="let user"> {{user.role}} </td>
  </ng-container>

  <ng-container matColumnDef="address">
    <th class="address-column table-header" mat-sort-header mat-header-cell *matHeaderCellDef> Адрес </th>
    <td mat-cell class="table-entity" *matCellDef="let user"> {{user.address}} </td>
  </ng-container>

  <ng-container matColumnDef="phone">
    <th class="phone-column table-header" mat-sort-header mat-header-cell *matHeaderCellDef> Телефон </th>
    <td mat-cell class="table-entity" *matCellDef="let user"> {{user.phone}} </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th class="email-column table-header" mat-sort-header mat-header-cell *matHeaderCellDef> Email </th>
    <td mat-cell class="table-entity" *matCellDef="let user"> {{user.email}} </td>
  </ng-container>

  <ng-container matColumnDef="buttons">
    <th class="email-column table-header"  mat-header-cell *matHeaderCellDef>  </th>
    <td mat-cell class="table-entity" *matCellDef="let user">
      <div class>
        <mat-icon style="cursor:pointer" (click)="openDialogForUpdate(user)">edit</mat-icon>
        <mat-icon style="cursor:pointer" (click)="deleteRow(user.id)">delete</mat-icon>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  <tr mat-row></tr>
</table>
<mat-paginator class="user-table-paginator"
  [length]="length"
  [pageSize]="10"
    [pageSizeOptions]="[ 10, 15, 20]"
    (page)="setPage($event)">
</mat-paginator>
  <div class="table-menu-bar">
    <button class="button create-button" mat-raised-button (click)="openDialog()" >Создать нового</button>
    <button class="button delete-button" mat-raised-button>Удалить выбраных</button>
  </div>
</div>
