.mat-button{
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: black;
  height: 40px;
  background-color: #AFBDEF;
  border-color: #AFBDEF;
  border-radius: 5px !important;
}

.button-panel{
  margin:  0 30px 0;
}

.reference-card{
  height: 250px;
  font-family: Montserrat, serif ;
  display: flex;
  flex-direction: column;
}

.ref-content{
  margin: 30px;
}

h5{
font-weight: bold;
}

.reference-card>*:last-child{
  order: 999;
  margin-top: auto;
}
